<div class='col s6 offset-s6 recipe-new-container'>
  <div class='container'>
    <h2 class='center-align blue-text'>Create Recipe</h2>

    <%= form_tag(recipes_path, method: 'POST', id: 'recipe-new-form') do %>
      <label for="name" class="blue-text">Name</label>
      <input id="name" name="name" type="text" class="validate black-text">
      <label for="description" class="blue-text">Description</label>
      <input id="description" name="description" type="text" class="validate black-text">
      <input type="submit" value="Create" class="waves-effect waves-light btn #039be5 light-blue darken-1", id="recipe-new-submit-btn">
    <% end %>
  </div>
</div>
