<div class='container'>
  <div class='row'>
    <div class='col s6'>
      <h3>About</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col s6'>
      <p>Taste of the Yangtze was inspired by a documentary visiting the regions where the Yangtze River flows. Not as lackluster as the Yellow River, but still a staple for many people in the area, this food is an inspiration of all that exists because of the river. Please check back for our Guest Chef contributions. Enjoy!
      </p>
    </div>
  </div>
</div>
