body {
  height: 100%;
}

.container {
  height: 100%;
  margin: 5%;
}

/*menus#index*/

/*.menus-index-container {
  background-image:url('http://www.metmuseum.org/toah/images/hb/hb_1979.5.jpg');
  background-size: cover;
  height: 100%;
}*/

.menus-list {
  height: 100%;
  width: 40%;
}

#menu-new-btn {
  margin-right: 20%;
}

/*.menus-index-image {
  height: 80%;
  max-width: 100%;
}*/
