body {
  min-height: 100%;
}

footer {
  clearfix: both;
}

.container {
  height: 100%;
  margin: 5%;
}

/*menus#index*/

.menus-list {
  height: 100%;
  width: 40%;
}

#menu-new-btn {
  margin-right: 20%;
}

/*menu#show */

.menu-show-title {
  margin-top: 8%;
  margin-bottom: 5%;
}


 /*add recipe to menu */
.create-recipe-new-btn-container {
  margin-top: 5%;
}
